#profile-page .user-card .avatar { width: 220px; }

#profile-page .user-card .avatar .avatar-card { position: relative; padding: 12px; border: 1px solid #e4e6e8; background-color: #FFF; cursor: pointer; transition: box-shadow 600ms cubic-bezier(0.165, 0.84, 0.44, 1); padding: 12px !important; margin-bottom: 16px !important; }

#profile-page .user-card .avatar .avatar-card .avatar-content { width: 164px; height: 164px; overflow: hidden !important; margin-left: auto !important; margin-right: auto !important; }

#profile-page .user-card .avatar .avatar-card .avatar-content img { border-radius: 3px; width: 164px; height: 164px; margin: 0 auto; }

#profile-page .user-card .profile-details { margin: 0 20px 20px 20px; border-bottom: 1px solid #e4e6e8; }

#profile-page .user-card .profile-details h4 { font-weight: 700; }
